{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	
	<div class="container  heading_center">
		<h1>Register</h1>
<div class="contact_section layout_padding">
	{{ form_start(registrationForm) }}
	{{ form_row(registrationForm.email) }}
	{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}

	<button type="submit" class="btn btn-info">Register</button>
	{{ form_end(registrationForm) }}
</div>
</div>
{% endblock %}
