{% extends 'base.html.twig' %}

{% block title %}Edit Auteur
{% endblock %}

{% block body %}
<div class=" container contact_section" >


	<div class="heading_container heading_center">
		<h2>
		 Modifier auteur
		</h2>
	</div>

	{{ include('auteur/_form.html.twig', {'button_label': 'Modifier'}) }}
	{{ include('auteur/_delete_form.html.twig') }}
	</div>
{% endblock %}
