{% extends 'base.html.twig' %}

{% block title %}Ajouter un auteur
{% endblock %}

{% block body %}
<div class=" container contact_section" >


	<div class="heading_container heading_center">
		<h2>
		 Ajouter livre
		</h2>
	</div>

	{{ include('auteur/_form.html.twig') }}
</div>
{% endblock %}
